/* Vault Items */

.vault-items-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;
    padding: 0 5rem 1.5rem;
}

.vault-item {
    display: flex;
    flex-direction: column;
    flex-basis: 27rem;
    height: 12.8rem;
    margin-top: 3rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 24, 48, 0.2);
    cursor: pointer;
}

.vault-item-info {
    flex-basis: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 0 0.9rem;
    line-height: 1.2;
}

.vault-item-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #465e7b;
}

.vault-item-summary {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
}

.vault-item-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 4.5rem;
    color: #fff;
}

.address-item .vault-item-thumbnail {
    background-color: #0a6353;
}

.bank-account-item .vault-item-thumbnail {
    background-color: #4fa553;
}

.drivers-licence-item .vault-item-thumbnail {
    background-color: #424f9f;
}

.medical-item .vault-item-thumbnail {
    background-color: #e1403f;
}

.note-item .vault-item-thumbnail {
    background-color: #9838b0;
}

.passport-item .vault-item-thumbnail {
    background-color: #17a0e5;
}

.password-item .vault-item-thumbnail {
    background-color: #4e8ff1;
}

.payment-card-item .vault-item-thumbnail {
    background-color: #84b750;
}

.social-security-item .vault-item-thumbnail {
    background-color: #fcd23e;
}

.wifi-item .vault-item-thumbnail {
    background-color: #f25d2d;
}

.add-vault-item-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 5.8rem;
    width: 5.8rem;
    font-size: 2.8rem;
    background-color: #d32d27;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
}